#parent{
	display: flex ;
	flex-direction: column;
}

h1{
	
	text-align : center;
	color:rgb(255, 63, 226) ;
}



#ul{

	border : 2px solid rgb(224, 60, 90));
	border-radius: 5px ;
	width :700px ;
	height: 500px ;
	padding-top: 10px ;
	padding-bottom: 5px ;
	padding-left: 4px ;
	
	margin: auto auto ;
	display: flex ;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgb(224, 60, 90);
}

#ul>.li{
	
	flex-basis: 30% ;

}


.li ,a , img{

	margin: 2px ;

}

				

img {
	width: 93%;
	height: 93% ;
	-webkit-transition: .8s;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	
	border: 8px solid #fff0d8;
	border-bottom-width: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



.li:hover {
	-webkit-filter: sepia(0);
	z-index: 1;
}


.li img:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 15px rgba(0, 0, 0, .7);
	-webkit-transform: scale(1.7);
}
